@model ISSSC.Models.Meta.MetaTutorApplication
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = SSCISResources.Resources.TUTOR_APPLICATION;
    ViewBag.ActiveMenuItem = "menu-tutor";
}

<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>

    <div class="col-sm-8 text-left">
        <h1>Chci pomáhat</h1>
        @if (ViewBag.TextHelp != null)
        {
            @Html.Raw(@ViewBag.TextHelp)
        }
        else
        {
            <p>
            </p>
        }
        <hr>
        <p>Máte-li zájem, vyplňte prosím formulář níže.</p>
        <div class="well">
            <div class="container">
                <h2>Žádost o tutorství</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                    <div style="display: none;">
                        @Html.EditorFor(m => m.SubjectData);
                    </div>
                    <div id="display-subject">

                        <div class="row @string.Format("subject-row{0}",0)">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ApplicationSubjects.ElementAt(0).IdSubject, SSCISResources.Resources.SUBJECT, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control subject" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ApplicationSubjects.ElementAt(0).Degree, SSCISResources.Resources.DEGREE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    <div class="checkbox">
                                        @Html.DropDownList("Degree", null, htmlAttributes: new { @class = "form-control degree" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="hide-subject" class="hide">
                        @for (int i = 1; i < Model.ApplicationSubjects.Count; i++)
                        {
                            <div class="row @string.Format("subject-row{0}",i)">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ApplicationSubjects.ElementAt(i).IdSubject, SSCISResources.Resources.SUBJECT, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control subject" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ApplicationSubjects.ElementAt(i).Degree, SSCISResources.Resources.DEGREE, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            @Html.DropDownList("Degree", null, htmlAttributes: new { @class = "form-control degree" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <input type="number" id="subjects_count" name="subjects_count" value="0">
                    </div>

                    <a href="#" onclick="addSubject()">@SSCISResources.Resources.ADD_SUBJECT</a>
                    <br />
                    <br />
                    <div class="form-group submit" style="vertical-align: bottom">
                        <button id="submit-btn" type="submit" class="btn btn-default">Odeslat</button>
                    </div>
                }
            </div>
        </div>
        <p>Máte-li další dotazy, ozvěte se prosím Světlaně Tomiczkové na e-mail <a href="mailto:svetlana@kma.zcu.cz">svetlana@kma.zcu.cz</a>, případně přijďte osobně do UC 258.</p>
    </div>

    @{if (ViewContext.HttpContext.Session.GetString("role") != null && (ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.User) || ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.Tutor)))
        {
            <div class="col-sm-2 sidenav rozvrh">
                <div class="well">
                    <p>
                        USER - rozvrh extra lekcí na které se přihlásil
                        <br />
                        TUTOR - rozvrh lekcí co bude vyučovat (pravidelné a nepravidelné)
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-2 sidenav">
            </div>
        }
    }
</div>

<script>
    var i = 1;
    var scount = @Model.ApplicationSubjects.Count;

    function addSubject() {
        if (i < scount) {
            $(".subject-row"+i).appendTo("#display-subject");
            $('#subjects_count')[0].value++;
            i++;
        }
    }

    addSubject();

</script>
