@model ISSSC.Models.EnumSubject

@{
    ViewBag.Title = "Details";
    ViewBag.ActiveMenuItem = "menu-subjects";
}
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2>Detaily</h2>

            <div>
                <h4>Předmět</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Lesson)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lesson)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Upravit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Zpátky na seznam", "Index")
            </p>
        </div>

        <div class="col-sm-2 sidenav">
        </div>
    </div>