@model ISSSC.Models.SscisParam

@{
    ViewBag.Title = "Delete";
    ViewBag.ActiveMenuItem = "menu-params";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h2>Smazat</h2>

            <h3>Opravdu chcete smazat tento parametr?</h3>
            <div>
                

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <h4>SSCISParam</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ParamKey)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ParamKey)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ParamValue)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ParamValue)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dd>
                            <br />
                            <div>
                                <input type="submit" value="Smazat" class="btn btn-default" />
                            </div>
                        </dd>
                    </dl>
                   
                }
                <div>
                    @Html.ActionLink("Zpátky na seznam", "Index")
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>