@model IEnumerable<ISSSC.Models.SscisParam>

@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenuItem = "menu-params";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>

        <div class="col-sm-8 text-left">
            <h1>Systémové parametry</h1>
            <p>
                @Html.ActionLink("Přidat parametr", "Create")
            </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ParamKey)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParamValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParamKey)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParamValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Upravit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaily", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Smazat", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
</div>
        <div class="col-sm-2 sidenav">
        </div>
        </div>
</div>