@model ISSSC.Models.Event

@{
    ViewBag.Title = SSCISResources.Resources.EVENT_DETAIL;
    ViewBag.ActiveMenuItem = "menu-eventlist";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">

            @{ if (Model.IsAccepted == true)
                {
                    <h2>Požadovaná extra lekce již byla přijata!</h2>
                }
                else
                {


                    <h2>Detaily</h2>

                    <div>
                        <h4>Opravdu chcete přijmout tuto extra hodinu?</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @SSCISResources.Resources.TIME_FROM
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TimeFrom)
                            </dd>

                            <dt>
                                @SSCISResources.Resources.TIME_TO
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TimeTo)
                            </dd>

                            <dt>
                                @SSCISResources.Resources.CANCELLATION_COMMENT
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CancelationComment)
                            </dd>

                            <dt>
                                @SSCISResources.Resources.SUBJECT
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IdSubjectNavigation.Code)
                            </dd>
                        </dl>
                    </div>
                    <p>

                        @Html.ActionLink(SSCISResources.Resources.ACCEPT_LESSON, "AcceptLesson2", new { id = Model.Id })
                        @Html.ActionLink(SSCISResources.Resources.BACK, "Index")
                    </p>

                }
            }
        </div>
            <div class="col-sm-2 sidenav">

            </div>
        </div>
</div>