@model ISSSC.Models.Event
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = SSCISResources.Resources.EVENT_DETAIL;
    ViewBag.ActiveMenuItem = "menu-eventlist";
}
<div class="body-content container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <h2>Detaily</h2>

            <div>
                <h4>@SSCISResources.Resources.EVENT</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @SSCISResources.Resources.TIME_FROM
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TimeFrom)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.TIME_TO
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TimeTo)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.ACCEPTED
                    </dt>

                    <dd>
                        @ISSSC.Class.SSCISHtml.DisplayForBool(Model.IsAccepted)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.CANCELLED
                    </dt>

                    <dd>
                        @ISSSC.Class.SSCISHtml.DisplayForBool(Model.IsCancelled)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.CANCELLATION_COMMENT
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CancelationComment)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.SUBJECT
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdSubjectNavigation.Code)
                    </dd>

                    <dt>
                        @SSCISResources.Resources.TUTOR
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdTutorNavigation.Login)
                    </dd>

                </dl>
            </div>
            <p>
                @if (Model.IsAccepted == true && (ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.Administrator) || (ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.Tutor) && ViewContext.HttpContext.Session.GetInt32("userId") == Model.IdTutor)))
                {
                    @Html.ActionLink(SSCISResources.Resources.GENERATE_FEEDBACK_LINK, "EventQR", "Feedbacks", new { id = Model.Id }, new { })

                }
                @Html.ActionLink(SSCISResources.Resources.BACK, "Index")
            </p>
        </div>
        <div class="col-sm-2 sidenav">

        </div>
    </div>
</div>