@model ISSSC.Models.Meta.MetaTimetable
@using ISSSC.Models;

@{
    ViewBag.Title = SSCISResources.Resources.EVENTS;
    ViewBag.ActiveMenuItem = "menu-eventlist";
    int ahoj = 0;
}
<style>
    th:nth-child(1), td:nth-child(1) {
        position: sticky;
        left: 0px;
        z-index: 0;
    }

    th:nth-child(2), td:nth-child(2) {
        position: sticky;
        left: 110px;
        z-index: 0;
        border: 1px;
    }

    tr:nth-child(odd) > th {
        background-color: #FFFFFF;
    }

    tr:nth-child(even) > th {
        background-color: #F9F9F9;
    }

    tr:nth-child(odd) > th {
        background-color: #FFFFFF;
    }

</style>

<div class="row content">
    <div class="col-sm-1 sidenav">
    </div>

    <div class="col-sm-12 text-left">
        <form id="monthPicker" name="monthPicker" action="/Events/GetTimetable" method="Post">
            <div class="form-group row">
                <div class="col-md-5">
                    <div class="checkbox">
                        @Html.DropDownList("Months", null, htmlAttributes: new { @class = "form-control month", onchange = "this.form.submit();" })
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive" id="timetableForm">
            <table class="table table-striped table-bordered table-sm table-responsive" id="tablicka" style="width:auto">
                <thead style="width:auto">
                    <tr style="width:auto">
                        <th class="first-col col-md-1" scope="col">

                        </th>
                        <th class="table-bordered col-md-1"></th>
                        @foreach (DateTime dt in Model.dateTimes)
                        {
                            <th scope="col">
                                @dt.Date.ToString("dd/MM/yyyy")
                                <br />
                                @dt.TimeOfDay
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (SscisUser user in Model.tutors)
                    {
                        List<Event> ev = new List<Event>();
                        Model.attendance.TryGetValue(user, out ev);
                        ahoj = ev.Count();
                        <tr>
                            <th class="first-col" scope="row">
                                @user.Firstname
                                <br />
                                @user.Lastname
                            </th>
                            <th class="hours"></th>
                            @foreach (Event eve in ev)
                            {
                                if (eve == null)
                                {
                                    <td id="@user.Lastname" class="empty">
                                    </td>

                                }
                                else if (eve.IsAccepted == true)
                                {
                                    <td id="@user.Lastname" class="accepted">
                                    </td>
                                }
                                else
                                {
                                    <td id="@user.Lastname" class="pending" onclick="(toggleSelected(this, @eve.Id))">
                                    </td>
                                }
                            }
                        </tr>
                    }
                    <tr id="bottom">
                        <th></th>
                        <th></th>
                        @for (int i = 0; i < ahoj; i++)
                        {
                            <td class="days">

                            </td>
                        }

                    </tr>
                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-1">
                <form id="timetableSubmit" name="timetableSubmit" action="/Events/EventsTimetable" method="Post">
                    <input type="hidden" value="" id="selectedPendings" name="selectedPendings" />
                    <button type="submit" class="btn btn-default">SEND</button>
                </form>
            </div>
            <div class="col-md-1">
                <form id="csvSubmit" name="csvSubmit" action="/Events/CsvTimetableDownload" method="Post">
                    <input type="hidden" value="@ViewBag.SelectedMonth" id="month" name="month" />
                    <button type="submit" class="btn btn-default">DOWNLOAD CSV</button>
                </form>
            </div>
        </div>
     </div>


    <div class="col-sm-1 sidenav">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function calculateRow() {
            $("#timetableForm table tbody").find("tr").each(function(rowIndex, rowElement) {
                $(rowElement).filter(function(index, element) {
                    var accepted = $(element).find("td.accepted").length;
                    var selected = $(element).find("td.pending-selected").length;
                    var total = accepted + selected;
                    $("th.hours", element).html(' Hodin: ' + total);
                });
            });
    }

    function calculateColumn() {
        table = document.getElementById("tablicka");
        tr = table.getElementsByTagName("tr");
        thBottom = document.getElementById("bottom");
        trBottom = thBottom.getElementsByTagName("td");

        for (a = 0; a < trBottom.length; a++) {
            var accepted = 0, selected = 0, total = 0;
            for (i = 3; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                if ($(td[a]).hasClass("accepted")) {
                    accepted = accepted + 1;
                }
                if ($(td[a]).hasClass("pending-selected")) {
                    selected = selected + 1;
                }
            }
            total = accepted + selected;
            trBottom[a].textContent = total;
        }
    }

    calculateColumn();
    calculateRow();

    $("#timetableSubmit").submit(function(event) {
            $("#selectedPendings").val(selected);
    });

    var selected = [];
        function toggleSelected(element, item) {
            $(element).toggleClass("pending");
            $(element).toggleClass("pending-selected");
            calculateRow();
            calculateColumn();
            if (selected.includes(item)) {
                selected = selected.filter(function(itemInSelected) {
                    return itemInSelected !== item;
                })
            } else {
                selected.push(item);
            }
            console.log(selected);
    }
</script>
