@model IEnumerable<ISSSC.Models.SscisUser>
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = SSCISResources.Resources.USERS;
    ViewBag.ActiveMenuItem = "menu-users";
}
<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>

    <div class="col-sm-8 text-left">
        <h2>Uživatelé</h2>

        <table class="table">
            <tr>
                <th>
                    @SSCISResources.Resources.LOGIN
                </th>
                <th>
                    @SSCISResources.Resources.NAME
                </th>
                <th>
                    @SSCISResources.Resources.LASTNAME
                </th>
                <th>
                    @SSCISResources.Resources.CREATED
                </th>
                <th>
                    @SSCISResources.Resources.STUDENT_NUMBER
                </th>
                <th>
                    @SSCISResources.Resources.ROLE
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRoleNavigation.Role)
                    </td>
                    <td>
                        @Html.ActionLink(SSCISResources.Resources.EDIT, "Edit", new { id = item.Id }) |
                        @Html.ActionLink(SSCISResources.Resources.DETAIL, "Details", new { id = item.Id })
                        @Html.ActionLink(SSCISResources.Resources.DELETE_USER, "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

    @{if (ViewContext.HttpContext.Session.GetString("role") != null && ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.Administrator))
        {
            <div class="col-sm-2 sidenav">
            </div>
        }
        else if (ViewContext.HttpContext.Session.GetString("role") != null && ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.User) || ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.User))
        {
            <div class="col-sm-2 sidenav rozvrh">
                <div class="well">
                    <p>
                        ROZVRH
                        EXTRA LEKCI
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-2 sidenav">
            </div>
        }
    }
</div>