@model ISSSC.Models.SscisContent
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.ActiveMenuItem = "menu-index";
}

@if (ViewBag.EventsWithoutAttendance == true)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Máš odučené hodiny bez zadané účasti!</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.RenderAttendance
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}


<div class="row content">
    <div class="col-sm-2 sidenav">
    </div>

    <div class="col-sm-8 text-left">
        <h1>Vítejte na stránkách Student Support Centre (SSC)</h1>
        <hr />
        <h2>Aktualita</h2>
        <div class="well">
            <h3>@Html.DisplayFor(m => m.Header)</h3>
            <h6>@Html.DisplayFor(m => m.Created)</h6>
            <hr />
            <p>
                @Html.DisplayFor(m => m.TextContent)
            </p>
        </div>
        <hr />
        <div class="well">
            <p>
                ROZVRH PRAVIDELNÝCH HODIN
            </p>
            @ViewBag.PublicTimeTable
        </div>
        @if (ViewBag.TextIndex != null)
        {
            @Html.Raw(@ViewBag.TextIndex)
        }
        else
        {
        <p>
            <strong>Student Support Centre (SSC)</strong> je společná aktivita kateder <a href="http://www.fav.zcu.cz/" target="_blank">Fakulty aplikovaných věd Západočeské univerzity v Plzni</a>.
        </p>
        }
        <hr>

    </div>

    @{if (ViewContext.HttpContext.Session.GetString("role") != null && (ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.User) || ViewContext.HttpContext.Session.GetString("role").Equals(ISSSC.Class.AuthorizationRoles.Tutor)))
        {
            <div class="col-sm-2 sidenav rozvrh">
                <div class="well">
                    @ViewBag.PersonalTimeTable

                </div>
            </div>
        }
        else
        {
            <div class="col-sm-2 sidenav">
            </div>
        }
    }

</div>



